<div class="message-container message_block" id="message-<%= message.id %>">
	<i class="author">
		<span>

			<%= cl_image_tag message.user.photo.key, style:"width: 50px; height:50px", class:"rounded-circle" %>
			<strong>
				<%= link_to message.user.username, member_path(message.user) %>
				
			</strong></span>
			<small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>

		</i>
		<p class="chat-content"><%= message.content %></p>
	</div>