
<div style="margin-right: 100px; margin-left: 100px">

<h1 style="color:white; margin-bottom:50px; margin-top: 30px; opacity:0.8">People you are following</h1>

<div style="color:white">
	<!-- Avatar of user-->
  <% @followees.each do |f|  %>
      <div class="row">
        <div class="col">
          <% if f.photo.attached?%>
          <div class="followship-member" style="display:flex; align-items:center; margin-top: 40px">
          <h3 style="text-align:center; margin-right: 20px">User <i style="color:#42c7b0" onclick="location.href='<%= member_path(f) %>'">
          <%= f.username %></i></h3>
          <div class="text-white"> <%= cl_image_tag f.photo.key, style:"width: 70px; height:70px", class:"rounded-circle" %> </div>
          </div>
          <% else %>
          <p class="text-white"><img src="https://res.cloudinary.com/dbbmbbgju/image/upload/v1598524883/New_Project_ykwpvb.jpg" alt="" class ="rounded-circle" style="width: 70px; height: 70px">      Hosted by: <%= @event.user.username %> </p>
          <% end %>
        </div>
      </div>
       <div class= "d-flex flex-wrap justify-content-start mx-auto" style="margin-top: 50px; margin-left: 50px; margin-right: 50px">
       <% f.events.each do |event| %>
          <%= render "/events/event_card", event: event %>
        <% end %>
      </div>
  <% end %>

	</div>

</div>



