

<div class="card event-card text-white bg-dark mb-3" id="event-card-map" style="max-width: 16rem;">

      <% if event.photo.attached? %>
        <div class="event-image-container">
          <%= cl_image_tag event.photo.key, class:"event-image" %>
        </div>
      <% elsif %>
        <div class="event-image-container">
          <img src="<%= image_path('default-image.png') %>" class="event-image">
        </div>
      <% end %>


      <!--Giving each category the assigned image-tag -->
      	<% if event.category == "sports" %>
			<div class="event-card-tag-container">
				<img src="<%= image_path('SPORTS-TAG.png') %>" class="category-tag">
			</div>
			<% elsif event.category == "party" %>
			<div class="event-card-tag-container">
				<img src="<%= image_path('PARTY-TAG.png') %>" class="category-tag">
			</div>
			<% elsif event.category == "drinking" %>
			<div class="event-card-tag-container">
				<img src="<%= image_path('DRINKING-TAG.png') %>" class="category-tag">
			</div>
			<% elsif event.category == "social" %>
			<div class="event-card-tag-container">
				<img src="<%= image_path('SOCIAL-TAG.png') %>" class="category-tag">
			</div>
			<% elsif event.category == "yoga" %>
			<div class="event-card-tag-container">
				<img src="<%= image_path('YOGA-TAG.png') %>" class="category-tag">
			</div>
			<% elsif event.category == "spiritual" %>
			<div class="event-card-tag-container">
				<img src="<%= image_path('SPIRITUAL-TAG.png') %>" class="category-tag">
			</div>
			<% elsif event.category == "dancing" %>
			<div class="event-card-tag-container">
				<img src="<%= image_path('DANCING-TAG.png') %>" class="category-tag">
			</div>
			<% elsif event.category == "misc" %>
			<div class="event-card-tag-container">
				<img src="<%= image_path('MISC-TAG.png') %>" class="category-tag">
			</div>
			<% elsif event.category == "studying" %>
			<div class="event-card-tag-container">
				<img src="<%= image_path('STUDYING-TAG.png') %>" class="category-tag">
			</div>
			<% elsif event.category == "political" %>
			<div class="event-card-tag-container">
				<img src="<%= image_path('POLITICAL-TAG.png') %>" class="category-tag">
			</div>
			<% elsif event.category == "food" %>
			<div class="event-card-tag-container">
				<img src="<%= image_path('FOOD-TAG.png') %>" class="category-tag">
			</div>
			<% elsif event.category == "board games" %>
			<div class="event-card-tag-container">
				<img src="<%= image_path('BOARD-GAMES-TAG.png') %>" class="category-tag">
			</div>
			<% elsif event.category == "culture" %>
			<div class="event-card-tag-container">
				<img src="<%= image_path('CULTURE-TAG.png') %>" class="category-tag">
			</div>
			<% end %>



      <div class="card-text-wrapper">
          <!--Headline of the card -->
        <div class="event-card-text">
          <%= event.title.capitalize %>
        </div>

        <div>
          <p class="event-card-text-location">
            <i class="fas fa-map-marker-alt"></i> <%= event.location %>
          </p>
        </div >

          <div class="d-flex align-items-end">
            <%= link_to "view event", event_path(event), class:"btn btn-primary"%>
          </div>
      </div>

    </div>
