<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>
<% @events.each do |event| %>
<%= link_to 'Events', event_path(event), class: "btn btn-primary" %>
<% end %>

<!-- do a search from -->
<!--
CATEGORIES = ["sports", "party", "drinking", "social", "yoga", "spiritual", "dancing", "misc", "studying", "political", "food", "board games", "culture"] -->

<%#= select_tag(:column, options_for_select(Model::Category), class:"xy") %>

<%= form_tag events_path, method: :get do %>
  <%= text_field_tag :query_event,
    params[:query_event],
    class: "form-control",
    placeholder: "Find Events"
  %>
   <%= select_tag(:query_category, options_for_select(Event::CATEGORIES))

     %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
<!--
   params[:query_category],
    class: "form-control",
    placeholder: "Choose Category" -->

<!-- options_for_select(Event::CATEGORIES) -->
