<br>
<div class="row text-center align-self-center host-bar">
	<div class="col">
		<% if @event.user.photo.attached?%>
		<p class="text-white host-logo"> Hosted by:  <%= cl_image_tag @event.user.photo.key, style:"width: 70px; height:70px", class:"rounded-circle" %>  <%= @event.user.username %> </p>
		<% else %>	
		<p class="text-white"><img src="https://res.cloudinary.com/dbbmbbgju/image/upload/v1598524883/New_Project_ykwpvb.jpg" alt="" class ="rounded-circle" style="width: 70px; height: 70px">      Hosted by: <%= @event.user.username %> </p>
		<% end %>
	</div>
</div>
<!-- help -->
<div class="row">
	<div class="col">
		<div class="user-box">
			<div class="text-white">
			<%= cl_image_tag @event.photo.key,  style:"width: 100%; height: 25%;"%>
				<h1 class="event-show-title"> <%= @event.title.capitalize %></h1>

				
					<p class="event-show-category" style="opacity:0.5"> a <strong><%= @event.category %> </strong> event</p>
					<p class="event-show-location"> <%= @event.location  %></p>
					<p class="event-show-date" style="opacity:0.9">	Starting on <%= @event.date.strftime("%m/%d at %I:%M%p") %>
					</p>
					<p> 
						<%= @event.description %>
					</p>
				</div>
				
				<% unless @event.participations.exists?(user_id: current_user) %>
				<div class="attendance-button d-flex justify-content-center">
					<%= link_to 'confirm attendance', event_participations_path(@event), method: :post, class: "cool-button" %>
				</div>
				<% else %>
				<div class="attendance-button d-flex justify-content-center">
					<%= link_to 'cancel attendance', "#", class: "btn btn-danger" %>
				</div>
				<% end %>
				
				<% if @event.participations.exists?(user_id: current_user) %>
				<p class="text-white", style="opacity:0.9">You are attending!</p>
				<% end %>		
				<% if @event.user_id == current_user.id %>
				<%= link_to "Delete", @event, method: :delete, data: { confirm: "Are you sure? "}, class: "btn btn-danger"%>
				<%= link_to "Update Event", edit_event_path(@event), class: "btn btn-primary" %>
				<% end %>
			</div>
		</div>
		<div class="col chat-box">
			<div class="text-white chat-group">
				<!-- this is where the chat will eventually go :) -->
				<%= simple_form_for [ @chatroom, @message = Message.new ], remote: true do |f| %>
				<span class="chat-input-field">
					<%= f.input :content, label: false, placeholder: "Your message:" %>
				</span>
				<% end %>
				<%  counter = 0  %>
				<div id="messages" data-chatroom-id="<%= @chatroom.id %>">
					<% @chatroom.messages.reverse_each do |message| %>
					<%  break if counter > 9  %>
					<div class="message-container" id="message-<%= message.id %>">
						<i class="author">
							<span> <% if message.user.photo.attached?%>
								<%= cl_image_tag message.user.photo.key, style:"width: 50px; height:50px; margin:5px;", class:"rounded-circle chat-avatar" %>
								<% else %>	
								<img src="https://res.cloudinary.com/dbbmbbgju/image/upload/v1598524883/New_Project_ykwpvb.jpg" alt="" class ="rounded-circle" style="width: 30px; height: 30px">
								<% end %> <strong>
								<%= message.user.username %></strong></span>
								<small style="opacity: 0.6"><%= message.created_at.strftime("%a %l:%M%p") %></small>
							</i>
							<p class="chat-content"><%= message.content %></p>
						</div>
						<% counter += 1 %>
						<% end %>
					</div>


				</div>	
			</div>
		</div>

