<div class="text-white">
	<br>
	<div class="row">
		<div class="col-4">
			<div class="user-box">
				<div class="d-flex justify-content-center">
					<h1><%= @user.username %></h1>
				</div>
				<% if @user.photo.attached? %>
				<div class="d-flex justify-content-center">
					<%= cl_image_tag @user.photo.key, class:"rounded-circle", style:"width: 170px; height: 170px"%>
				</div>
				<% else %>
				<img src="https://res.cloudinary.com/dbbmbbgju/image/upload/v1598524883/New_Project_ykwpvb.jpg" alt="" class ="rounded-circle" style="width: 170px; height: 170px">
				<% end %>
				<br>
				<br>
				<div class="row"> <div class="col-4">
					<!-- hmm -->
					<p> <span style="opacity:0.8"> JOINED </span>  </p>
					<p><span style="opacity:0.8">FOLLOWERS </span> </p>
					<p><span style="opacity:0.8" > <%= link_to "FOLLOWING", member_followships_path(@user) %> </span></p>
					<p><span style="opacity:0.8">ATTENDED </span>  </p>
					</div>
					<div class="col test-left">
						<p> <strong> <%=@user.created_at.strftime("%B %Y") %></strong></p>
						<p> <strong class="user-text"> <%=@user.followers.count %></strong></p>
						<p> <strong class="user-text"> <%= @user.followees.count %> </strong> </p>
						<p> <strong class="user-text"> <%= @user.participations.count%></strong></p>
					</div>
					<% unless @user == current_user || current_user.nil? %>
					<% pre_follow = @user.followers.find { |follower| follower.id == current_user.id} %>
					<% if pre_follow %>
					<%= link_to "unfollow this user", member_followships_path(@user.id), method: :create, class:"btn btn-danger"  %>
					<% else %>
					<%= link_to "follow this user", member_followships_path(@user.id), method: :create, class:"btn btn-primary"  %>
					<% end %>
					<% end %>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="user-box">
				<% if @user == current_user %>
				<p>
					<span style="opacity:0.8">You have hosted </span> <strong> <%= @user.events.count %> </strong> events.
				</p>
				<% else %>
				<p>
					<%= @user.username%> has hosted <%= @user.events.count %> events.
				</p>
				<% end %>
				<% host_score = 0 %>
				<% review_count = 0 %>
				<% @user.events.each do |event| %>
				<% event.participations.each do |participation| %>
				<% if participation.review %>
				<% host_score += participation.review.score %>
				<% review_count += 1 %>
				<% end %>
				<% end %>
				<% end %>
				<% if host_score > 0 %>


				<% host_score = host_score / review_count %>
				<% end %>
				<p>
					Host score: <%host_score.ceil().times do |star|%>
					<i class="fas fa-star"></i>
					<% end %>
					<% (5 - host_score.ceil).times do |star| %>
					<i class="far fa-star"></i>
					<% end %>
				</p>

			</div>
			<% if @user == current_user %>
			<h4 class="past-event-h4" style="opacity:0.8;">   Your past events</h4>
			<% else %>
			<h4 class="past-event-h4" style="opacity:0.8;"> <%= @user.username %> has attended the following events </h4>
			<% end %>
			<% @participations.each do |participation| %>
			<div class="user-box">
				<div class="row">
					<div class="col">
						<h6>
							<strong>
								<%= participation.event.title %>
							</strong>
						</h6>
						<p style="opacity:0.8; font-size: 10px;"> <%= participation.event.date.strftime("%d, %B %Y") %> </p>
						<p>Hosted by: <%= participation.event.user.username%></p>
						<% if participation.review && @user == current_user %>
						<p>You rated:
							<%participation.review.score.round.times do |star|%>
							<i class="fas fa-star"></i>
							<% end %>
							<% (5 - participation.review.score.round).times do |star| %>
							<i class="far fa-star"></i>
							<% end %>

						</p>

						<% else %>
						<% if participation.user == current_user %>


						<div class="form">
							<%= simple_form_for [participation, @review = Review.new],defaults: { input_html: { class: 'input-form-new-reviews' } } do |f| %>
							<%= f.input :review %>
							<%= f.input :score  %>
							<%= f.submit %>
							<% end %>
						</div>



						<% end %>
						<% end %>
					</div>
					<div class="col text-right">
						<%= cl_image_tag participation.event.photo.key, style:"width: 170px; height: 170px; object-fit:cover" %>
						<% end %>
					</div>
				</div>
			</div>




		</div>
	</div>



</div>
<br><br>
