<div class="text-white">
	<br>
	<div class="row">
		<div class="col-4">
			<div class="user-box">
				<h1><%= @user.username %></h1>
				<% if @user.photo.attached? %>
				<%= cl_image_tag @user.photo.key, class:"rounded-circle", style:"width: 170px; height: 170px"%>
				<% else %>
				<img src="https://res.cloudinary.com/dbbmbbgju/image/upload/v1598524883/New_Project_ykwpvb.jpg" alt="" class ="rounded-circle" style="width: 170px; height: 170px">
				<% end %>
				<br>
				<br>

				<p>User since: <%=@user.created_at.strftime("%B %Y") %></p>
				<p>Followers: <%=@user.followers.count %></p>
				<p>Following: <%= @user.followees.count %> </p>
				<p>Attended: <%= @user.participations.count%> events </p>
				<% unless @user == current_user || current_user.nil? %>
				<% pre_follow = @user.followers.find { |follower| follower.id == current_user.id} %>
				<% if pre_follow %>
				<%= link_to "unfollow this user", member_followships_path(@user.id), method: :create, class:"btn btn-danger"  %>	
				<% else %>
				<%= link_to "follow this user", member_followships_path(@user.id), method: :create, class:"btn btn-primary"  %>					
				<% end %>
				<% end %>
			</div>
		</div>
		<div class="col">
			<div class="user-box">
				<% if @user == current_user %>
				<p>
					<strong> You have hosted </strong> <%= @user.events.count %> events.
				</p>
				<% else %>
				<p>
					<%= @user.username%> has hosted <%= @user.events.count %> events. 
				</p>
				<% end %>
				<% host_score = 0 %>
				<% @user.events.each do |event| %>
				<% event.participations.each do |participation| %>
				<% if participation.review %>			
				<% host_score += participation.review.score %>
				<% end %>
				<% end %>
				<% end %>
				<% if host_score > 0 %>

				
				<% host_score = host_score / @user.events.count %>
				<% end %>
				<p>
					Host score: <%host_score.ceil().times do |star|%>
					<i class="fas fa-star"></i>
					<% end %>
					<% (5 - host_score.ceil).times do |star| %>
					<i class="far fa-star"></i>
					<% end %>
				</p>
			</div>
			<% if @user == current_user %>
			<h4>   You have attended the following events:</h4>
			<% else %>
			<h4> <%= @user.username %> has attended the following events: </h4>
			<% end %>
			<% @participations.each do |participation| %>
			<div class="user-box">
				<div class="row">
					<div class="col">
						<p><strong><%= participation.event.title %></strong> on <%= participation.event.date.strftime("%d, %B %Y") %> </p>
						<p>Hosted by: <%= participation.event.user.username%></p>
						<% if participation.review && @user == current_user %>
						<p>You rated: 
							<%participation.review.score.round.times do |star|%>
							<i class="fas fa-star"></i>
							<% end %>
							<% (5 - participation.review.score.round).times do |star| %>
							<i class="far fa-star"></i>
							<% end %>

						</p>

						<% else %>
						<% if participation.user == current_user %>
						<div class="user-box">

							<div class="form">
								<%= simple_form_for [participation, @review = Review.new] do |f| %>
								<%= f.input :review %>
								<%= f.input :score  %>
								<%= f.submit %>
							</div>
							<% end %>
						</div>




						<% end %>
						<% end %>
					</div>
					<div class="col text-right">
						<% if participation.event.photo.attached? %>
						<%= cl_image_tag participation.event.photo.key, style:"width: 170px; height: 170px" %> 
						<% end %>
					</div>
				</div>
			</div>
			
			<% end %>
		</div>
	</div>

</div>
<br><br>